parameters:
    scanDirectories:
        - %currentWorkingDirectory%/vendor/drupal
        - %currentWorkingDirectory%/vendor/wieni
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/drupal/core/includes/bootstrap.inc
        - %currentWorkingDirectory%/vendor/drupal/core/includes/common.inc
        - %currentWorkingDirectory%/vendor/drupal/core/includes/file.inc
        - %currentWorkingDirectory%/vendor/drupal/core/includes/install.core.inc
        - %currentWorkingDirectory%/vendor/drupal/core/includes/install.inc
        - %currentWorkingDirectory%/vendor/drupal/core/includes/schema.inc
        - %currentWorkingDirectory%/vendor/drupal/core/includes/theme.inc
    fileExtensions:
        - inc
        - install
        - module
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        - *Test.php
        - *TestBase.php
    ignoreErrors:
        -
            message: '#Drush\\Commands\\DrushCommands not found#'
            path: %currentWorkingDirectory%/src/Commands/*
        -
            message: '#Implicit array creation is not allowed - variable \$events does not exist#'
            paths:
                - %currentWorkingDirectory%/src/EventSubscriber/*
        -
            message: '#Implicit array creation is not allowed - variable \$fields does not exist#'
            paths:
                - %currentWorkingDirectory%/src/Entity/*
        # Added in Symfony 4.3, so can't do anything about these
        # as long as the module supports core versions < 9.0.0
        - '#deprecated class Symfony\\Component\\EventDispatcher\\Event#'
        - '#deprecated class Symfony\\Component\\HttpKernel\\Event\\(FilterControllerArguments|FilterController|FilterResponse|GetResponse|GetResponseForControllerResult|GetResponseForException|PostResponse)Event#'

includes:
	- php-project.neon
