parameters:
    excludes_analyse:
        - *Test.php
        - *TestBase.php
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/twig/twig/src/Extension/CoreExtension.php
    ignoreErrors:
        - '#Constant (WM_ENV(_.+)?|WM_FRONT) not found#'
        - '#Plugin definitions cannot be altered#'
        - '#Plugin manager has cache backend specified but does not declare cache tags#'
        -
            message: '#Implicit array creation is not allowed - variable \$(config|databases|settings) (does|might) not exist#'
            paths:
                - %currentWorkingDirectory%/public/sites/*/*settings.php
        -
            message: '#Implicit array creation is not allowed - variable \$events does not exist#'
            paths:
                - %currentWorkingDirectory%/public/modules/custom/*/src/EventSubscriber/*
        -
            message: '#Implicit array creation is not allowed - variable \$fields does not exist#'
            paths:
                - %currentWorkingDirectory%/public/modules/custom/*/src/Entity/*
        -
            message: '#(Undefined variable: )?\$(app_root|site_path)( might not be defined)?#'
            paths:
                - %currentWorkingDirectory%/public/sites/*/*settings.php
includes:
	- %currentWorkingDirectory%/vendor/mglaman/phpstan-drupal/extension.neon
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/rules.neon
	- %currentWorkingDirectory%/vendor/wieni/wmcodestyle/phpstan/php-project.neon
