parameters:
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
        - *Test.php
        - *TestBase.php
        - public/modules/custom/wmcustom/tests
        - public/sites/default/files
    paths:
        - src
        - public/modules/custom
        - public/sites
        - public/themes/custom
    level: 1
    ignoreErrors:
        - '#Constant (WM_ENV(_.+)?|WM_FRONT) not found#'
        - '#Construct empty\(\) is not allowed#'
        - '#Only booleans are allowed#'
        - '#Plugin definitions cannot be altered#'
        - '#Plugin manager has cache backend specified but does not declare cache tags#'
        - '#Short ternary operator is not allowed#'
        - '#Unsafe usage of new static\(\)#'
        -
            message: '#Implicit array creation is not allowed - variable \$(config|settings) does not exist#'
            paths:
                - public/sites/default/settings.php
        -
            message: '#Undefined variable: \$(app_root|site_path)#'
            paths:
                - public/sites/default/settings.php
        -
            message: '#Implicit array creation is not allowed - variable \$events does not exist#'
            paths:
                - public/modules/custom/*/src/EventSubscriber/*

includes:
	- vendor/mglaman/phpstan-drupal/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/wieni/wmcodestyle/phpstan/custom-rules.neon

